progressbar2
gdown
gitpython
git+https://github.com/cheind/py-thin-plate-spline
hickle
tensorboard
numpy
git+https://github.com/facebookresearch/segment-anything.git
gradio==5.12.0
opencv-python==4.5.4.60
matplotlib
pyyaml
av==12
openmim
tqdm
psutil
